<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a><br/>
          <a href="{{ '/about' | prepend: site.baseurl }}">Contact me</a></p>
      </div>
    </div>
  </div>
</footer>