@use "variables";
@use "mixins";
@use "sass:math";
@use "sass:color";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: left;
}

/**
 * Basic styling
 */
body {
    font-family: variables.$base-font-family;
    font-size: variables.$base-font-size;
    line-height: variables.$base-line-height;
    font-weight: 300;
    color: variables.$text-color;
    background-color: variables.$background-color;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: variables.$spacing-unit * 0.5;
}
p {
    margin-bottom: math.div(variables.$spacing-unit, 1.25);
}

h1 {
    font-family: variables.$title-font-family;
    font-size: variables.$title-font-size;
}

strong {
    font-weight: bold;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

img.alignleft {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: variables.$small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: variables.$spacing-unit;
}

li {
    margin-bottom: 0.25rem;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4 {
    font-weight: 700;
}

h5, h6 {
    font-weight: bold;
}


/**
 * Links
 */
a {
    color: variables.$brand-color;
    text-decoration: none;

    &:visited {
        color: color.adjust(variables.$brand-color, $lightness: -20%);
    }

    &:hover {
        color: color.adjust(variables.$brand-color, $lightness: -30%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: variables.$grey-color;
    border-left: 4px solid variables.$grey-color-light;
    padding: .5rem 3rem .5rem 1.25rem;
    padding-left: variables.$spacing-unit * 0.5;
    font-size: variables.$base-font-size;
    letter-spacing: -0.01em;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    background-color: #f2f2f2;
    font-size: 15px;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width:         calc(#{variables.$content-width} - (#{variables.$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: variables.$spacing-unit;
    padding-left: variables.$spacing-unit;
    @extend %clearfix;

    @include mixins.media-query(variables.$on-laptop) {
        max-width:         calc(#{variables.$content-width} - (#{variables.$spacing-unit}));
        padding-right: variables.$spacing-unit * 0.5;
        padding-left: variables.$spacing-unit * 0.5;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: variables.$grey-color;
        }
    }
}
