/**
 * Site header
 */
.site-header {
    background-color: #fbfbfb;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        border-bottom: 0;
        text-decoration: none;
    }
    a.current {
        border-bottom: 1px solid;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    a {
        border-bottom: 0;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 ($spacing-unit / 2);

    iframe {
        max-height: 50vw;
        max-width: 100%;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    li h2 {
        line-height: 1em;
        margin-bottom: 0.25em;
    }
    li.full-post {
        h2 a, h2 a:visited {
            color: $text-color;
        }
        hr {
            background-color: $grey-color;
            border: 0;
            height: 1px;
            margin: $spacing-unit auto 0;
            width: 80%;
        }
        > ul,
        > ol {
            margin-bottom: 1em;
        }
        img {
            margin-top: 1em;
        }
    }
    li.full-post:last-child {
        border-bottom: 0;
        padding-bottom: 0;

        hr {
            display: none;
        }
    }
}
.language-barrier {
    font-style: italic;
    text-align: center;

    h3 {
        border-bottom: 3px dashed $grey-color;
        margin-bottom: 0;
    }
    p {
        background: $background-color;
        display: inline-block;
        margin-top: -3px;
        padding: 3px 10px 0;
    }
}

.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: $spacing-unit / 2;
}

.post-link {
    font-family: $title-font-family;
    font-size: 24px;
}

.post-excerpt {
    
}



/**
 * Posts
 */
.hero {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 400px;
    left: 0;
    position: absolute;
    top: 57px;
    width: 100%;
    z-index: -1;
}
.post-header {
    margin-bottom: $spacing-unit / 2;

    .sub-heading {
        font-style: italic;
    }
}
.post-header.with-hero {
    color: #fff;
    min-height: 200px;
    margin-top: 170px;

    h1 {
        text-shadow: rgba(0,0,0,0.5) 0 0 10px;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -0.01em;
    line-height: 1.25em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: bold;
        margin-top: 32px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    hr {
        background-color: $grey-color-light;
        border: 0;
        height: 1px;
        margin: 0 auto;
        width: 80%;
    }
    .categories {
        color: $grey-color;
        font-size: 80%;
        margin-top: $spacing-unit;
    }
}

section.comments {
    margin-top: 2*$spacing-unit;
    h2 {
        border-bottom: 1px solid $grey-color;
    }
    article.comment {
        font-size: 18px;
        width: 85%;
    }
    time {
        color: $grey-color;
    }
}

.comments-closed {
    color: $grey-color;
    font-style: italic;
}

section.feedback {
    h2 {
        font-family: $title-font-family;
        font-size: 24px;
        margin-bottom: 12px;
    }
}

.archive {
    h2 {
        font-family: $title-font-family;
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 24px;
    }
    li {
        margin-bottom: 0;
    }
    time {
        color: $grey-color;
    }
}

.page_number {
    color: $grey-color;
}
.twitter-share {
    background: #55acee;
    color: #fff;
    display: inline-block;
    font-family: Gotham, "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}
.twitter-share:visited {
    color: #fff;
}

a.read-more {
    font-size: 80%;
}
ul.contact {
    li {
        margin-bottom: 0;
    }
}

.footnotes {
    border-top: 1px solid $grey-color-light;
    margin-top: 2em;
}
.footnotes p {
    font-size: 80%;
    margin-bottom: 1em;
}