@use "mixins";
@use "variables";

/**
 * Site header
 */
.site-header {
    background-color: #fbfbfb;
    border-bottom: 1px solid variables.$grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    a {
        border-bottom: 0;
        text-decoration: none;
    }
    a.current {
        border-bottom: 1px solid;
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    flex-basis: 50%; 

    &,
    &:visited {
        color: variables.$grey-color-dark;
    }
}

.site-nav {
    display: flex;
    align-items: end;
    flex-direction: column;
    line-height: 56px;
    flex-basis: 50%;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: variables.$text-color;
        line-height: variables.$base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include mixins.media-query(variables.$on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: variables.$background-color;
        border: 1px solid variables.$grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block !important;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: variables.$grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid variables.$grey-color-light;
    padding: variables.$spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: variables.$spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    a {
        border-bottom: 0;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: variables.$grey-color;
    margin-left: -(variables.$spacing-unit) * 0.5;
}

.footer-col {
    margin-bottom: variables.$spacing-unit * 0.5;
    padding-left: variables.$spacing-unit * 0.5;
}

.footer-col-1 {
    width:         calc(35% - (#{variables.$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{variables.$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{variables.$spacing-unit} / 2));
}

@include mixins.media-query(variables.$on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{variables.$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{variables.$spacing-unit} / 2));
    }
}

@include mixins.media-query(variables.$on-palm) {
    .footer-col {
        width:         calc(100% - (#{variables.$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: variables.$spacing-unit 0 (variables.$spacing-unit * 0.5);

    iframe {
        max-height: 50vw;
        max-width: 100%;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: variables.$spacing-unit;
    }
    li h2 {
        line-height: 1em;
        margin-bottom: 0.25em;
    }
    li.full-post {
        h2 a, h2 a:visited {
            color: variables.$text-color;
        }
        hr {
            background-color: variables.$grey-color;
            border: 0;
            height: 1px;
            margin: variables.$spacing-unit auto 0;
            width: 80%;
        }
        > ul,
        > ol {
            margin-bottom: 1em;
        }
        img {
            margin-top: 1em;
        }
    }
    li.full-post:last-child {
        border-bottom: 0;
        padding-bottom: 0;

        hr {
            display: none;
        }
    }
}
.language-barrier {
    font-style: italic;
    text-align: center;

    h3 {
        border-bottom: 3px dashed variables.$grey-color;
        margin-bottom: 0;
    }
    p {
        background: variables.$background-color;
        display: inline-block;
        margin-top: -3px;
        padding: 3px 10px 0;
    }
}

.post-meta {
    color: variables.$grey-color;
    font-size: variables.$small-font-size;
    margin-bottom: variables.$spacing-unit * 0.5;
}

.post-link {
    font-family: variables.$title-font-family;
    font-size: 24px;
}

@media screen and (max-width: 480px) {
    .post-link {
        font-size: 22px;
    }
}

.post-excerpt {
    
}



/**
 * Posts
 */
.hero {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 400px;
    left: 0;
    position: absolute;
    top: 57px;
    width: 100%;
    z-index: -1;
}
.post-header {
    margin-bottom: variables.$spacing-unit * 0.5;

    .sub-heading {
        font-style: italic;
    }
}
.post-header.with-hero {
    color: #fff;
    min-height: 200px;
    margin-top: 170px;

    h1 {
        text-shadow: rgba(0,0,0,0.5) 0 0 10px;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -0.01em;
    line-height: 1.25em;

    @include mixins.media-query(variables.$on-laptop) {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .post-title {
        font-size: 22px;
        margin-bottom: 6px;
    }
}

.post-content {
    margin-bottom: variables.$spacing-unit;

    h2 {
        font-size: 32px;

        @include mixins.media-query(variables.$on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: bold;
        margin-top: 32px;

        @include mixins.media-query(variables.$on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: bold;

        @include mixins.media-query(variables.$on-laptop) {
            font-size: 18px;
        }
    }
    hr {
        background-color: variables.$grey-color-light;
        border: 0;
        height: 1px;
        margin: 0 auto;
        width: 80%;
    }
    .categories {
        color: variables.$grey-color;
        font-size: 80%;
        margin-top: variables.$spacing-unit;
    }
}

section.comments {
    margin-top: 2*variables.$spacing-unit;
    h2 {
        border-bottom: 1px solid variables.$grey-color;
    }
    article.comment {
        font-size: 18px;
        width: 85%;
    }
    time {
        color: variables.$grey-color;
    }
}

.comments-closed {
    color: variables.$grey-color;
    font-style: italic;
}

section.feedback {
    h2 {
        font-family: variables.$title-font-family;
        font-size: 24px;
        margin-bottom: 12px;
    }
}

.archive {
    h2 {
        font-family: variables.$title-font-family;
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 24px;
    }
    li {
        margin-bottom: 0;
    }
    time {
        color: variables.$grey-color;
    }
}

.page_number {
    color: variables.$grey-color;
}
.twitter-share {
    background: #55acee;
    color: #fff;
    display: inline-block;
    font-family: Gotham, "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 5px 10px;
}
.twitter-share:visited {
    color: #fff;
}

a.read-more {
    font-size: 80%;
}
ul.contact {
    li {
        margin-bottom: 0;
    }
}

.footnotes {
    border-top: 1px solid variables.$grey-color-light;
    margin-top: 2em;
}
.footnotes p {
    font-size: 80%;
    margin-bottom: 1em;
}