@use "sass:color";

// Our variables
$base-font-family: Georgia, Times, "Times New Roman", serif;
$base-font-size:   20px;
$base-line-height: 1.6;
$title-font-family: 'PT Serif', serif;
$title-font-size: 32px;

$small-font-size:  $base-font-size * 0.75;
$spacing-unit:     32px;

$text-color:       #222;
$background-color: #f8f8f8;
$brand-color:      #0171D6;

$grey-color:       #7a7a7a;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%);

// Width of the content area
$content-width:    750px;

$on-palm:          600px;
$on-laptop:        750px;

:root {
  --vb: 1em;
}