---
layout: default
regenerate: true
title: Now - Oiva Eskola
pagination:
  data: collections.now
  size: 20
  alias: posts
  reverse: true
eleventyExcludeFromCollections: true
permalink: "/now{% if pagination.pageNumber > 0%}{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---
<div class="home">
  <h1 class="page-heading">Now</h1>
  <p>What I'm up to currently. (<a href="https://nownownow.com/about">What is a "now page"?</a>)</p>
  <p>These posts are also available as a <a href="/now.xml">separate feed</a>.</p>
  <ul class="post-list">
    {% for post in posts %}
      <li
        {% if pagination.pageNumber == 0 and forloop.index <= 5 %} class="full-post"
        {% elsif pagination.pageNumber == 0 %} class="has-excerpt"
        {% endif %}
        {%if post.data.language %}
        lang="{{post.data.language}}"
        {% else %}
        lang="en"
        {% endif %}
        >
        <span class="post-meta">
          {% if post.data.link_to %}
          <a href="{{post.url | prepend: site.baseurl }}">
          {% endif %}
          {% if post.data.language == 'fi' %}
            {{ post.date | date: "%-d.%-m.%Y" }}
          {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
          {% endif %}
          {% if post.data.link_to %}
          </a>
          {% endif %}
        </span>
        <h2>
          {% if post.data.link_to %}
          <a class="post-link" href="{{ post.data.link_to | prepend: site.baseurl }}">{{ post.data.title }}</a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.data.title }}</a>
          {% endif %}
        </h2>
          {% if post.data.background %}
            <picture>
              <img
                src="{{ post.data.background.src_small }}"
                srcset="{{ post.data.background.src }} 2x"
                alt="{{ post.data.background.alt }}"
                class="post-background"
                {% if forloop.index >= 3 %}loading="lazy"{% endif %}
              >
            </picture>
          {% endif %}
          {% if post.data.hero %}
            <picture>
              <img
                src="{{ post.data.hero.src_small }}"
                srcset="{{ post.data.hero.src }} 2x"
                alt="{{ post.data.hero.alt }}"
                width="{{ post.data.hero.width }}"
                height="{{ post.data.hero.height }}"
                class="post-hero"
                {% if forloop.index >= 3 %}loading="lazy"{% endif %}
              >
            </picture>
          {% endif %}
          <div class="post-excerpt">{{ post.content | dropTitleLevel | removeFootnotes }}</div>
          <hr>
      </li>
{% endfor %}
  </ul>

  {% if pagination.pages.length > 1 %}
  <!-- Pagination links -->
  <div class="pagination">
    <span class="page_number">Page {{ pagination.pageNumber | plus: 1 }} / {{ pagination.pages.length }}:</span>
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="previous">previous page</a>{% endif %}{% if paginator.next_page and paginator.previous_page %},{% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="next">next page</a>
    {% endif %}
  </div>
  {% endif %}

</div>
